<div class="home-container home-container-form">
  <div class="main-content sign-up zi-9999">
    <h1>Éditer une roadmap</h1>

    <%= simple_form_for @roadmap do |f| %>
      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Nom" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Éditer", class: "btn-white" %>
      </div>
    <% end %>

  </div>

</div>



