<div class="show-container">
  <%= render 'columns/vision' %>
  <% if !current_user.nil? && Roadmap.where(user_id: current_user.id).map(&:id).include?(params[:id].to_i) %>
    <!-- Si connecté & sur sa roadmap -->
      <%= render 'columns/column_admin' %>
  <% else %>
  <!-- Si pas connecté ou pas sur sa roadmap -->
    <div class="columns guest">
      <%= render 'columns/column_guest' %>
    </div>
  <% end %>
</div>

<!-- Afficher un loader cool si je crée une roadmap : -->
<% if !request.referrer.nil? && request.referrer.last(3) == 'new' %>
  <%= render 'components/loader_rocket' %>
<% end %>
