<div class="show-container d-flex">
  <div class="columns col-6 align-items-start d-flex">
    <%= render 'columns/new_column' %>
    <%= render 'components/button', text: "+ Crée ton premier thème", class: "create-theme", form: "", type: "" %>
  </div>

  <div class="text-helper col-6 align-self-center">
    <h2>Lance toi et crée ta 1ère colonne !</h2>
  </div>
</div>
