<div class="footer zi-9999">
  <div class="cookies">
    <p><%= image_tag "cookie.png", class: "emoji" %> Cookies</p>
  </div>
  <div class="legal">
    <p><%= image_tag "note.png", class: "emoji" %> Mentions Légales</p>
  </div>
</div>
