<div class="loader-container">
  <div class="loader">
    <div class="spin">
      <span class="emoji loader-emoji loader-signup"></span>
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
  <div class="loader-text">
    Bipbipbip<span>.</span><span>.</span><span>.</span> Création du compte<span>.</span><span>.</span><span>.</span>
  </div>
</div>
