<div class="loader-container">
  <div class="loader">
    <div class="spin">
      <span class="emoji loader-emoji loader-rocket"></span>
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
  <div class="loader-text">
    Décollage dans 3,2,1<span>.</span><span>.</span><span>.</span>
  </div>
</div>
