<div class="navbar navbar-expand-sm navbar-light d-flex justify-content-between">
  <%= link_to root_path, class: "navbar-brand pl-4" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <div class="collapse navbar-collapse pr-4" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <i class="fas fa-user-alt pl-3"></i>
      <% else %>
          <%= link_to "Connexion", new_user_session_path, class: "c-black" %>
      <% end %>
    </ul>
  </div>
</div>
