<a href="" class="decoration-none emoji share-roadmap">
  <%= image_tag "link.png", class: "share-icon" %>
</a>

<div class="dropdown dropdown-share">
  <div class="form-group share-link">
    <h3 id="share-title">Votre lien partageable :</h3>
    <input class="form-control share-input" value="<%= request.original_url %>" readonly>
    <%= link_to "Copier", "#", class: "btn-white", id: "btn-copy" %>
  </div>
</div>

<div class="alert-copy alert alert-info alert-dismissible fade show m-1" role="alert">
  Lien copié dans le presse-papier.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
