.home-container {
  min-height: calc(100vh - 80px);
  background: $my-blue;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8% 0 8%;
}

.home-content {
  margin-top: -80px;
}

.home-baseline {
  color: $my-white;
}

@media(min-width: 415px) {
  .home-baseline {
    max-width: 50vw;
  }
  .home-content {
    margin-left: 8%;
  }
}

.home-cta {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 5%;
  margin-left:8%;

  p {
    color: white;
  }
}

.zi-2 {
  z-index: 2;
}

.zi-9999 {
  z-index: 9999;
}
