.show-container {
  padding: 90px 0 20px 0;
  min-height: 100vh;
  color: $my-white;
  overflow-x: auto;
}

.create-theme {
  width: 200px;
  height: 80px;
  padding: 6px 10px;
  margin: 0;
  font-size: 14px;
}

.roadmap-logo {
  color: black;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.roadmap-logo img {
  max-height: 100%;
  height: auto;
  height: 100%;
  object-fit: contain;
}
