.show-container {
  padding: 40px 40px;
  min-height: calc(100vh - 80px);
  color: $my-white;
}

.create-theme {
  width: 200px;
  height: 80px;
  padding: 6px 10px;
  margin: 20px;
  font-size: 14px;
}



