<% @themes.each do |theme| %>
  <div class="column-roadmap">
    <h2><%= theme.name %></h2>
    <div class="column-content">
      <div class="theme">
        <h2>Thème</h2>
        <p>Description du problème rencontré par les utilisateurs</p>
      </div>
      <%= render partial: 'columns/column_admin_kpis.html.erb', locals: {theme: theme} %>
      <%= render partial: 'columns/column_admin_improvements.html.erb', locals: {theme: theme} %>
      <div class="delete-column mt-3 text-center">
        <%= button_to "Supprimer", {controller: :themes, action: 'destroy', id: theme.id, roadmap_id: @roadmap.id }, method: :delete, class: "btn btn-white btn-red", data: { confirm: 'Tu es sûr(e) de supprimer ce thème? Tout va disparaître.' } %>
      </div>
    </div>
  </div>
<% end %>

