.btn-white {
  background: white;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.50);
  padding: 6px 50px;
  margin: 0;
  font-weight: bold;
  transition-property: margin, box-shadow;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.btn-red {
  color: $my-red;
  border: 1px solid $my-red;
  box-shadow: 3px 3px 0px $my-red;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
}

.btn-red:hover {
  color: $my-red;
  border: 1px solid $my-red;
  box-shadow: 3px 3px 0px $my-red;
  padding: 6px 30px;
  text-decoration: none;
}


.btn-landing:hover {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  margin: 4px 0 0 4px;
  text-decoration: none;
}

button.roadmap-name,
button.roadmap-name:focus,
button.roadmap-name:hover {
  background: $my-gray;
  border-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;
  font-weight: bold;
}
