.btn-white {
  background: white;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.50);
  min-width: 115px;
  margin: 0;
  font-weight: bold;
  transition-property: margin, box-shadow;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.btn-red {
  color: $my-red;
  border: 1px solid $my-red;
  box-shadow: 3px 3px 0px $my-red;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
}

.btn-red:hover {
  color: $my-red;
  border: 1px solid $my-red;
  box-shadow: 3px 3px 0px $my-red;
  padding: 6px 30px;
  text-decoration: none;
}


.btn-landing:hover {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  margin: 4px 0 0 4px;
  text-decoration: none;
}

button.roadmap-name,
button.roadmap-name:focus,
button.roadmap-name:hover {
  background: $my-gray;
  border-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media(max-width:415px) {
  button.roadmap-name {
    max-width: 49%;
  }
}

// Button for switch preview/admin mode

.switch-container {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.btn-switch {
  margin-bottom: 20px;
  z-index: 9999;
  max-width: 300px;
  margin-left: 35px;
}

@media(max-width: 415px){
  .btn-switch {
    margin-left: 20px;
  }
}

.btn-switch label {
  margin: 0 0 0 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $my-black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-switch input:checked + .slider {
  background-color: $my-yellow;
}

.btn-switch input:focus + .slider {
  box-shadow: 0 0 1px $my-yellow;
}

.btn-switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
