.bg-yellow {
  background-color: $my-yellow;
}

.bg-blue {
  background-color: $my-blue;
}

.bg-red {
  background-color: $my-red;
}

.bg-white {
  background-color: $my-white;
}

.bg-gray {
  background-color: $my-gray;
}

.bg-transparent {
  background-color: transparent;
}

.bg-yellow02 {
  background-color: rgba(255, 185, 6, 0.25);
}

.bg-blue02 {
  background-color: rgba(65, 138, 255, 0.2);
}

.bg-red02 {
  background-color: rgba(241, 61, 61, 0.25);
}

.bg-white02 {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-blue {
  color: $my-blue;
}

.c-red {
  color: $my-red;
}

.c-white {
  color: $my-white;
}

.c-black {
  color: $my-black;
}

.c-yellow {
  color: $my-yellow;
}

.c-blue:hover {
  color: $my-blue;
}

.c-red:hover  {
  color: $my-red;
}

.c-white:hover  {
  color: $my-white;
}

.c-black:hover  {
  color: $my-black;
}

.c-yellow:hover  {
  color: $my-yellow;
}
