.bg-yellow {
  background-color: $my-yellow;
}

.bg-blue {
  background-color: $my-blue;
}

.bg-red {
  background-color: $my-red;
}

.bg-white {
  background-color: $my-white;
}

.c-blue {
  color: $my-blue;
}

.c-red {
  color: $my-red;
}

.c-white {
  color: $my-white;
}

.c-black {
  color: $my-black;
}

.c-yellow {
  color: $my-yellow;
}
