.emoji, .emoji img {
  width: 20px;
  height: 20px;
}

.emoji-roadmap {
  height: 90%;
  align-items: center;
  display: flex;
}

.share-roadmap {
  height: 90%;
  align-items: center;
  display: flex;
}

.emoji-link {
  padding: 7px;
  background: #eaeaea;
  border-radius: 25px;
  margin: 0 2px;
  align-items: center;
  display: flex;
}
