.footer {
  position: fixed;
  bottom: 18%;
  p {
    color: white;
  }
}


@media(max-width: 415px) {
  .footer {
  position: relative;
  margin-top: 140px;
  padding-bottom:10px;

  p {
    color: white;
  }
  }
}
