.form-control {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: $my-white solid 2px;
  width: 280px;
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

.devise-links {
  position: absolute;
  padding-top: 20px;

  a {
    font-weight: normal;
    text-decoration: none;
  }
}

.form-control.is-valid, .form-control.is-valid:focus {
  background-color: $my-white;
  border-bottom: $my-green solid 2px;
  background-image: image-url('check.svg');
}

.form-check-input.is-valid ~ .form-check-label {
    color: $my-white;
}
