.improvement {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.improvement > * {
  margin: 1%;
}

.improvement .form-group input, .improvement .form-group input:focus,
.improvement .form-group textarea, .improvement .form-group textarea:focus {
  width: 100%;
  background: $my-gray !important;
  border: transparent;
  box-shadow: none;
  border: 1px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  min-height: 41px;
}

.improvement .form-group input:focus, .improvement .form-group input:hover,
.improvement .form-group textarea:focus, .improvement .form-group textarea:hover {
  width: 100%;
  background: $my-gray !important;
  border: transparent;
  box-shadow: none;
  border: 1px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
}

.improvement-name {
  font-weight: bold;
}

.improvement_name {
  flex: 0 0 76%;
}

.improvement_description {
  width: 100%;
}

.improvement textarea.form-control.is-valid {
  padding-right: 10px !important;
}

.improvement-emoji {
  position: relative;
  flex: 0 0 20%;
  margin-bottom: calc(5px - 1rem);
}

.emojis-selector {
  height: 150px;
  width: 100px;
  margin-top: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  position: absolute;
  width: 230px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 10px;
  display: none;
}

.emoji-button:hover, .emoji-button:focus {
  border-color: $my-black;
}

.emoji-select {
  flex: 0 0 16.666%;
  font-size: 20px;
}

.emoji-select:hover {
  cursor: pointer;
}

.emoji-button {
  padding: 8px;
  font-size: 20px;
  flex: 0 0 20%;
  cursor: pointer;
  border: 1px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  background: $my-gray !important;
}

