.kpi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kpi .form-group input, .kpi .form-group input:focus,
.kpi .form-group textarea, .kpi .form-group textarea:focus {
  width: 100%;
  background: white;
  border: transparent;
  padding-left:10px;
  box-shadow: none;
  border: 2px dashed #979797;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  min-height: 41px;
}

.kpi .form-group input:hover, .kpi .form-group input:focus,
.kpi .form-group textarea:hover, .kpi .form-group textarea:focus {
  width: 100%;
  background: white;
  border: transparent;
  padding-left:10px;
  box-shadow: none;
  border: 2px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
}

.kpi-emoji {
  margin-bottom: 1rem;
}

.kpi_description {
  margin: 1% 1% 3% 3%;
  width: 100%;
}

.kpis {
  margin-bottom: 2rem;
}

.kpi textarea.form-control.is-valid {
  padding-right: 10px !important;
}

.kpi-guest {
  margin-bottom: 1rem;
}

.kpi-guest img {
  margin-bottom: 6px;
}
