.navbar {
  height: 80px;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: $my-white;

  i {
    font-size: 23px;
  }
}

@media(max-width: 415px) {
  .navbar-brand {
    margin-right: 0;
  }
  .menu {
    padding-right: 0;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

@media(min-width: 415px) {
  .mobile-link {
    display: none;
  }
}

.navbar {
  height: 60px;
}

.navbar-links {
  display: flex;
}

@media(max-width: 415px) {
  .logo-hide {
    display: none;
  }
}

@media(min-width: 416px) {
  .menu {
    padding-right: 1.5rem;
  }
  .navbar-brand {
    padding-left: 1.5rem;
  }
}
