.navbar {
  height: 80px;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: $my-white;

  i {
    font-size: 23px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

@media(min-width: 415px) {
  .mobile-link {
    display: none;
  }
}

.navbar-links {
  display: flex;
}

@media(max-width: 415px) {
  .logo-hide {
    display: none;
  }
}

.menu {
  padding-top: 3px
}

.emoji, .emoji img {
  width: 20px;
}

.emoji-roadmap {
  padding-right: 30px;
  margin-left: 10px;
  height: 90%;
  align-items: center;
  display: flex;
}

.share-roadmap {
  padding-left: 10px;
  height: 90%;
  align-items: center;
  display: flex;
}
