.navbar {
  border-bottom: black solid 1px;
  height: 80px;
  z-index: 2;

  .nav-link {
    color: $my-red;
  }

  i {
    font-size: 23px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

@media(min-width: 415px) {
  .mobile-link {
    display: none;
  }
}

.navbar-links {
  display: flex;
}
