.column-content {
  color: $my-black;
  background: $my-white;
  border: 2px solid $my-black;
  border-radius: 20px;
  padding: 45px 30px;
}

.columns {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
}

@media(max-width: 415px) {
  .columns {
    grid-column-gap: 20px;
  }
}

.columns:after {
  content: "";
  width: 1px;
  height: 1px;
}

.columns:before{
  content: "";
  width: 1px;
  height: 1px;
}

.columns > * {
  margin: 0 auto;
  width: 320px;
  display: inline-block;
}

@media(max-width: 415px) {
  .columns > * {
    width: 77vw;
  }
}

.text-helper h2 {
  width: 80%;
  margin-top: 130px;
}

.add-column {
  margin-top: 40px;
}
