h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding-bottom: 15px;
  }

h2 {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 15px;
}

p {
  font-size: 14px;
}

a {
  color: $my-black;
  font-weight: bold;
}

a:hover {
  color: $my-black;
}
