h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  padding-bottom: 15px;
  }

h2 {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 15px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a, .devise-links a {
  color: $my-black;
}

a:hover, .devise-links a {
  color: $my-black;
}

.devise-links-1 {
  margin-bottom: 20px;
  font-size: 14px;
}

.devise-links-2 {
  margin-top: 20px;
  font-size: 14px;
}

.navbar a {
  font-weight: bold;
}

.decoration-none:hover {
  text-decoration: none;
}
