.upload-img {
  background-color: $my-gray;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  border: 1px dashed $my-black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploaded {
  border: 0px;
  background:transparent;
}

.uploaded:hover {
  cursor: default;
}

.upload-img input {
  padding: 20px;
  width: 100%;
  position: absolute;
  opacity: 0;
  height: 100%;
}

.upload-img input:hover {
  cursor: pointer;
}

.upload-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.preview-guest .upload-img img, .uploaded img {
  border: 1px solid $my-black;
}

.upload-form {
  position: absolute;
}

.black-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(235, 241, 242, 0.35);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-around;
  color: white;
  text-align: center;
}


.roadmap-logo .upload-img {
  margin: 0;
}

