.roadmap-vision {
  width: 100%;
  height: 100%;
}

.vision-container {
  margin-bottom: 2rem;
  position: fixed;
  width:100%;
}

.vision-container textarea::placeholder {
  color: $my-black;
}

.vision-container .form-group input, .vision-container .form-group input:focus,
.vision-container .form-group textarea, .vision-container .form-group textarea:focus {
  width: 100%;
  background: $my-gray;
  border: transparent;
  padding-left:10px;
  box-shadow: none;
  border: 1px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  min-height: 41px;
  margin-bottom: 0;
}

.vision-container .form-group input:hover, .vision-container .form-group input:focus,
.vision-container .form-group textarea:hover, .vision-container .form-group textarea:focus {
  width: 100%;
  background: $my-gray !important;
  border: transparent;
  padding-left:10px;
  box-shadow: none;
  border: 1px dashed $my-black;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
}

.vision-form {
  margin: auto 0;
  position: relative;
}

.vision-form p {
  margin-bottom: 0;
  font-weight: bold;
}

.vision-form .form-group {
  margin-bottom: 0;
}

@media(max-width: 415px) {
  .vision-form {
    width: calc(100%);
    margin-top: 20px;
  }
}

.vision-grid {
  display: grid;
  grid-template-columns: 0fr 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 0px;
  grid-auto-flow: column;
  margin-top: 20px;
}

@media(max-width: 415px){
  .vision-grid {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 100%;
  }
}

.vision-grid:after {
  content: "";
  width: 1px;
  height: 1px;
}

.vision-grid:before{
  content: "";
  width: 1px;
  height: 1px;
}

.vision {
  margin: 0 35px 20px 35px;
  display: flex;
}

.vision img {
  margin-right: 35px;
  height: 100%;
  width: 200px;
}

@media(max-width: 415px) {
  .vision {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
